<!DOCTYPE html>
<html ng-app ="discGo" class="ng-scope">
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.2.0.min.js" integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I="crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="scripts/script.js" charset="utf-8"></script>
    <script src="scripts/module.js" charset="utf-8"></script>
    <script src="scripts/factory/factory.js" charset="utf-8"></script>
    <script src="scripts/controllers/artist-ctrl.js" charset="utf-8"></script>
    <script src="scripts/controllers/events-ctrl.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>discGo</title>
  </head>
  <body ng-controller="artistCtrl">

    <input type="text" ng-model="artist" class="ng-scope">
    <button type="button" ng-click="sendInfo(artist)" name="button" class="ng-scope">Search</button>



  </body>
</html>
