
body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: black;
    height: 100%;
}
p {
  font-size: 16px;
}
.margin {
  margin-bottom: 45px;
}
.bg-1 {
    background-color: #144966; /* Blue */
    color: black;
}
.bg-2 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}

input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    background-color: white;
    background-image: url('search-icon.png');
    background-position: 2px 2px;
    background-repeat: no-repeat;
    padding: 5px 10px 5px 30px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}

.container-fluid {
    padding-top: 10px;
    padding-bottom: 500px;
}
.container-artist {
  height: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: right;
}
.img-artist {
    margin-left: auto;
    margin-right: auto;
    width: 180px;
  }


.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0px;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #144966;
}

button {
  float: right;
}
.fa {
  padding: 20px;
  font-size: 25px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.artistImage {
  max-width: 90%;
  max-height: none;
  margin-left: auto;
  margin-right: auto;
  border: 12px solid black;

}













.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  color: white;
}

.fa-twitter {
  color: white;
}

.fa-google {
  color: white;
}

.fa-linkedin {
  color: white;
}

.fa-youtube {
  color: white;
}

.fa-instagram {
  color: white;
}

.fa-pinterest {
  color: white;
}
