body {
    font: 14px Montserrat, sans-serif;
    line-height: 1.8;
    height: 100%;
}

.topBanner {
    height: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0px;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #23162d;
}

.container-fluid{
  /*background-color: #efd79b;*/
}

.topBanner img {
  float: right;
}

.tour {
  max-width: 35%;
  display: block;
  margin: 0 auto;
}

.artistName h1 {
  color: black;
  font-family: 'Knewave', cursive;
  font-size: 5vw;
  text-align: center;
  margin-bottom: 10px;
  display: block;

}

.artistBio{
  margin-top: 10px;
  display: block;

}

.artistName {
  height: 120px;
  text-align: center;
}

.albumContainer {
  text-align: center;
}

.albumAlign {
  display: inline-block;
  margin: 1%;
  width: 40%;
  text-align: center;
}

.albumAlign img {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  border: 3px solid white;
  border-radius: 3px;
}

.albumAlign h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 100%;
  display: block;
}

.albumAlign:hover img {
  transform: scale(1.1);
}

h2 {
  margin-top: 40px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

p {
  font-size: 14px;
}

.margin {
  margin-bottom: 45px;
}
.bg-1 {
    background-color: #23162d;
    color: black;
}
.bg-2 {
    background-color: #575757;
    color: #fff;
}

input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: white;
    background-image: url('search-icon.png');
    background-position: 2px 2px;
    background-repeat: no-repeat;
    padding: 5px 10px 5px 30px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}

.containter-foot {
  display:block;
}
.container-fluid {
    padding-top: 10px;
    padding-bottom: 500px;
}
.container-artist {
  height: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: right;
}
.img-artist {
    margin-left: auto;
    margin-right: auto;
    width: 180px;
  }


button {
  float: right;
  margin-left: 5px;
}


.artistImage {
  max-width: 90%;
  max-height: none;
  display: block;
  margin: 0 auto;
  border: 12px solid black;

}






















.fa {
  padding: 20px;
  font-size: 25px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  color: white;
}

.fa-twitter {
  color: white;
}

.fa-google {
  color: white;
}

.fa-linkedin {
  color: white;
}

.fa-youtube {
  color: white;
}

.fa-instagram {
  color: white;
}

.fa-pinterest {
  color: white;
}

.heading-title {
    margin-bottom: 100px;
}
.text-center {
    text-align: center;
}
.heading-title h3 {
    margin-bottom: 0;
    letter-spacing: 2px;
    font-weight: normal;
}
.p-top-30 {
    padding-top: 30px;
}
.half-txt {
    width: 60%;
    margin: 0 auto;
    display: inline-block;
    line-height: 25px;
    color: #7e7e7e;
}
.text-uppercase {
    text-transform: uppercase;
}
.team-member, .team-member .team-img {
    position: relative;
}
.team-member {
    overflow: hidden;
}
.team-member, .team-member .team-img {
    position: relative;
}
.team-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 20px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.team-member:hover .team-hover .desk {
    top: 35%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .desk {
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    padding: 0 20px;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}
.team-member:hover .team-hover .s-link {
    bottom: 10%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .s-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(45%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    font-size: 35px;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}
.team-member .s-link a {
    margin: 0 10px;
    color: #333;
    font-size: 16px;
}
.team-title {
    position: static;
    padding: 20px 0;
    display: inline-block;
    letter-spacing: 2px;
    width: 100%;
}
h5 {
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
    float: left;
}
.team-title span {
    font-size: 12px;
    text-transform: uppercase;
    color: #a5a5a5;
    letter-spacing: 1px;
}
