<nav class ="navbar navbar-default">
      <a href="#/search"><img src="discgo.png" class="img-responsive margin" style="display:inline" alt="music" width="225" height="225"></a>
</nav>

<div class="container-fluid">
  <div class="row">
  <div class="col-sm-4">
    <img class = "artistImage" ng-src="{{artistImage}}"/>
    <p class="tour" on-tour ng-if="onTourData == 1"></p>
  </div>

    <div class="col-sm-8">
      <p>{{artist}}</p>
      <div class="panel panel-default">
        <div ng-bind-html="artistBio | unsafe">Panel Content</div>
      </div>
  </div>
</div> <!-- // end of row -->

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">Top Albums for {{artist}}</div>
      <div class="panel-body">
      <ul class="albumAlign">{{albumName1}}<br><img ng-src="{{albumImage1}}" /></ul>
      <ul class="albumAlign">{{albumName2}}<br><img ng-src="{{albumImage2}}" /></ul>
      <ul class="albumAlign">{{albumName3}}<br><img ng-src="{{albumImage3}}" /></ul>
      <ul class="albumAlign">{{albumName4}}<br><img ng-src="{{albumImage4}}" /></ul>
      <ul class="albumAlign">{{albumName5}}<br><img ng-src="{{albumImage5}}" /></ul>
    </div>
  </div>
</div>
<div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">Top Tracks for {{artist}}</div>
      <div class="panel-body">
      <ul class="albumAlign">{{trackName1}}</ul>
      <ul class="albumAlign">{{trackName2}}</ul>
      <ul class="albumAlign">{{trackName3}}</ul>
      <ul class="albumAlign">{{trackName4}}</ul>
      <ul class="albumAlign">{{trackName5}}</ul>
      <ul class="albumAlign">{{trackName6}}</ul>
      <ul class="albumAlign">{{trackName7}}</ul>
      <ul class="albumAlign">{{trackName8}}</ul>
      <ul class="albumAlign">{{trackName9}}</ul>
      <ul class="albumAlign">{{trackName10}}</ul>
    </div>
  </div>
</div>
</div>
</div>
</div>
